<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="Oddin" type="Oddin.OddinSdk.SDK.Configuration.AppConfigurationSection, Oddin.OddinSdk" />
	</configSections>
	<!--  
    Required attributes:    
		AccessToken: The access token used for the authentication
    
    Optional attributes:
	    DefaultLocale: Language used when communicating with api (default and only one supported at this time: "en")
        ExceptionHandlingStrategy: THROW / CATCH
        SdkNodeId
		HttpClientTimeout
		MaxInactivitySeconds
		MaxRecoveryTimeInSeconds
	-->
	<Oddin 
		AccessToken=""
		DefaultLocale="en" 
		ExceptionHandlingStrategy="THROW" 
		SdkNodeId="1"
		HttpClientTimeout="30" 
		MaxInactivitySeconds="10"
		MaxRecoveryTimeInSeconds="21600"
		/>
</configuration>