<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="Oddin" type="Oddin.OddsFeedSdk.Configuration.AppConfigurationSection, Oddin.OddsFeedSdk" />
	</configSections>

	<!--  
    Required attributes:    
		AccessToken: The access token used for the authentication
    
    Optional attributes:
	    DefaultLocale: Language used when communicating with api (default and only one supported at this time: "en")
        ExceptionHandlingStrategy: THROW / CATCH
        SdkNodeId
		HttpClientTimeout
		MaxInactivitySeconds
		MaxRecoveryExecutionMinutes
		InitialSnapshotTimeInMinutes
	-->
	<Oddin 
		AccessToken=""
		DefaultLocale="en" 
		ExceptionHandlingStrategy="THROW" 
		SdkNodeId="1"
		HttpClientTimeout="30" 
		MaxInactivitySeconds="20"
		MaxRecoveryExecutionMinutes="360"
		InitialSnapshotTimeInMinutes="1440"
		/>
</configuration>
